/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/scss/app.scss ***!
  \***************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: '';
  font-weight: 500;
  font-style: normal; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%; }

a {
  text-decoration: none;
  text-transform: initial;
  color: unset; }
  a:focus {
    color: #c17465; }

button {
  border: none;
  padding: 0;
  background: none; }

.form-control {
  padding: 0; }

.hide {
  display: none !important; }

.d__block {
  display: block !important; }

.d__flex {
  display: flex !important; }

.revert {
  transform: rotateZ(180deg); }

.revert45 {
  transform: rotateZ(45deg); }

.revert180 {
  transform: rotateZ(180deg); }

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 92px; }
  @media (max-width: 1200px) {
    .container {
      padding: 0 35px; } }
  @media (max-width: 768px) {
    .container {
      padding: 0 20px; } }
  @media (max-width: 576px) {
    .container {
      padding: 0 10px; } }

.slick-dots {
  display: none !important; }
  @media (max-width: 768px) {
    .slick-dots {
      display: flex !important;
      justify-content: center;
      column-gap: 6px;
      margin-top: 10px; } }
  .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F3F4F6; }
    .slick-dots li.slick-active {
      background: #5D78FF; }
  .slick-dots li button {
    display: none; }

.custom-button {
  background: #5d78ff;
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  color: #ffffff; }

.row-rewerse {
  flex-direction: row-reverse; }

.opacity0 {
  opacity: 0; }

.catalog__active {
  margin-top: 11px !important; }

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0); }

.sectionTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #555555; }
  @media (max-width: 768px) {
    .sectionTitle {
      font-size: 24px;
      line-height: 28px; } }

.btn__next {
  width: 13px;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

.header {
  border-bottom: 1px solid #E5E5E5;
  background: #fff;
  width: 100%;
  z-index: 20;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  background: gold; }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0; }
    @media (max-width: 992px) {
      .header__content {
        padding: 16px 0; } }
    @media (max-width: 768px) {
      .header__content {
        padding: 14px 0; } }
  .header__logo {
    max-width: 140px; }
    @media (max-width: 992px) {
      .header__logo {
        max-width: 120px; } }
    @media (max-width: 768px) {
      .header__logo {
        max-width: 89px; } }
  .header__menu_close {
    display: none; }
    @media (max-width: 768px) {
      .header__menu_close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAxCAYAAABznEEcAAAACXBIWXMAACE4AAAhOAFFljFgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAH5SURBVHgB3drdTcMwFIZhO5O0EzACSE3v2YAyGWECuO+PYAQmoJO0+ItwVUJyfOxzHFt9LxBtnSqPGjdOFWNuIHv9YLvdPjRNc38+n7/atn03lTbczwvicDh07smnq7HdarV6NpU1tp89YrfbPVpr30a2qQoyAuhr8McB7ia22+z3+xdTQVMA1CNOp9MnsX1xCAVAPWK9Xn+4Qa/E+xSDhADGzwmfmxudO7TIDeacIxwA9scOn60FwgXgHzv2amlIDADZqVGlILEAZInBs0NSAIhEoLkgqQAURKDcEAkAsRAoF0QKQGwE0oZoAFAUAmlBtAAoGoGkEE0ASkKgVIg2ACUjUCwkBwCJEIgLyQVAYgQKQdxrRwdYEG8hOs+oIBDjE5lKfMZXQ6AEiMqSRRWBIiBqi0d1BHKT+DswB44OsDRKNUa532+hRWDYQvOaXfWTYHyNDqtrTiQAfGKIyuHEAByJ18Q/B4kRzDPxMufvWqLDKXYpkevCKhmRuhbKAUlCSBdz2pBohNZqVBMShdBeTmtB2Ihc1wMaEBYi5wUNkkKCiNwAnwRCIuYC+FIhk4i5Ab4UyCiiFMAXC/mHKA3wxUD+IGoB+LgQ6o6C0Q3MzHEgoTsKLgNLAHwhSOiOAlQUgNq23VDXI6E7CooDfBSEuqOgGoBvAtL9AMX9MrGRiiw7AAAAAElFTkSuQmCC);
        background-size: contain;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat; } }
  .header__group {
    display: flex;
    align-items: center;
    column-gap: 40px; }
    @media (max-width: 992px) {
      .header__group {
        column-gap: 20px; } }
    @media (max-width: 768px) {
      .header__group {
        display: none; } }
    .header__group .signIn {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: #5d78ff; }
  .header__custom-button {
    padding: 6px 24px;
    font-size: 18px;
    line-height: 160%; }
    @media (max-width: 992px) {
      .header__custom-button {
        padding: 5px 20px; } }

.main {
  padding: 30px 0; }
  .main__step {
    font-size: 36px;
    text-align: center;
    font-weight: 500; }
  .main__choose-hero {
    font-size: 38px;
    text-align: center;
    font-weight: 500;
    margin-top: 34px; }
  .main__slider {
    display: flex;
    align-items: center;
    margin-top: 20px; }
    .main__slider .slick-track {
      display: flex;
      column-gap: 60px; }
    .main__slider .slick-list {
      max-width: 650px;
      margin: auto; }
    .main__slider .slick-prev {
      position: relative;
      left: 25%; }
    .main__slider .slick-next {
      position: relative;
      right: 25%; }

.hero {
  display: flex !important;
  align-items: center;
  position: relative; }
  .hero__avatar img {
    max-width: 405px;
    max-height: 700px;
    min-height: 700px;
    object-fit: contain;
    background-repeat: no-repeat; }
  .hero__name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 30px;
    background: gold;
    padding: 10px 25px;
    border: 3px solid #000;
    width: max-content;
    border-radius: 10px; }
  .hero__characteristics {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: 20; }
    .hero__characteristics-group {
      display: flex;
      align-items: center;
      column-gap: 10px;
      max-width: 300px;
      justify-content: space-between; }
    .hero__characteristics-title {
      font-size: 28px;
      min-width: 200px;
      text-align: left; }
    .hero__characteristics .hero__param {
      border: 1px solid #ccc;
      border: none;
      resize: none;
      outline: none;
      font-size: 24px;
      width: auto;
      min-width: 25px;
      text-align: center; }
  .hero__apply {
    background: green;
    color: #fff;
    padding: 15px 35px;
    font-size: 36px;
    border-radius: 5px;
    transition: .5s; }
    .hero__apply:hover {
      background-color: #044630; }

.btn__group {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content; }

.plus, .minus {
  display: none; }

.step2 .plus {
  font-size: 20px;
  cursor: pointer;
  display: block; }

.step2 .minus {
  font-size: 20px;
  cursor: pointer;
  display: block; }

.step2 {
  margin-top: 20px;
  position: relative; }
  .step2__hero .hero__name {
    top: 17%;
    right: -48%;
    display: none; }
  .step2__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; }
  .step2__exp {
    position: absolute;
    top: -55%;
    height: max-content;
    bottom: 0;
    margin: auto;
    width: max-content;
    left: 20%;
    right: 0;
    font-size: 33px; }
  .step2__next {
    text-align: center;
    margin-top: 20px;
    background: green;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 30px;
    width: max-content;
    font-size: 28px;
    margin: 20px auto 0; }
  .step2 .main__choose-hero {
    display: flex;
    align-items: center;
    justify-content: center; }
  .step2 .name {
    font-size: 30px;
    background: gold;
    padding: 10px 25px;
    border: 3px solid #000;
    width: max-content;
    border-radius: 10px;
    margin-left: 20px; }

.step3 {
  display: flex;
  flex-direction: column; }
  .step3__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px; }
  .step3__map {
    background-image: url(../28600ecae312950bec25.gif);
    background-size: cover;
    display: flex;
    background-position: center;
    margin-top: 30px;
    width: 700px;
    height: 500px; }
  .step3__hero {
    background-size: cover;
    display: flex;
    background-position: center;
    margin-top: 30px; }
  .step3 .hero__characteristics {
    display: none; }
  .step3 .hero__name {
    display: none; }
  .step3 .hero__avatar {
    margin: auto; }

